@import "tailwindcss";

@theme {
  /* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
  /* ⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡≫ Fonts ≪⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡ */
  /* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
  --font-shabnam: "Shabnam", sans-serif;
  --font-iransans: "IRANSans-web", sans-serif;

  /* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
  /* ⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡≫ Breakpoints ≪⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡ */
  --breakpoint-sm: 30rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;

  /* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
  /* ⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡≫ Colors ≪⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡ */
  /* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
  --color-purple-primary: #231e39;
  --color-yellow-primary: #ffdf00;
  --color-blue-light: #a8c6de;
  --color-purple-secondary: #28223f;
  --color-purple-tertiary: #1f1a32;
  --color-dark-primary: #333300;
  --gradient-yellow: linear-gradient(90deg, #ffde5d, #ffd633, #ffd11a);
}

/* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
/* ⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡≫ Custom Font Faces ≪⬡⬡⬡⬡⬡⬡⬡⬡ */
/* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
@font-face {
  font-family: Shabnam;
  src: url("/fonts/Shabnam.ttf") format("truetype"),
    url("/fonts/Shabnam-FD.woff2") format("woff2"),
    url("/fonts/Shabnam-FD.woff") format("woff"),
    url("/fonts/Shabnam-FD.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("/fonts/IRANSans-web.ttf") format("truetype"),
    url("/fonts/IRANSans-web.otf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

/* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
/* ⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡≫ Root Variables ≪⬡⬡⬡⬡⬡⬡⬡⬡⬡ */
/* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
:root {
  --nav-load-time: 400ms;
  --header-load-time: 400ms;
  --names-header-time: 3s;
  --logo-header-time: 300ms;
  --nav-link-load-time: 1.5s;
  --MyPic-delay-time: calc(
    (var(--nav-load-time) + var(--nav-link-load-time)) + 100ms
  );
}

/* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
/* ⬡⬡⬡⬡⬡⬡⬡≫ Global Reset & Direction ≪⬡⬡⬡⬡⬡⬡⬡ */
/* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
* {
  box-sizing: border-box;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to right, #fff, #ffe6ff 80%);
  overflow-anchor: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
/* ⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡≫ Scrollbar ≪⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡ */
/* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
::-webkit-scrollbar {
  width: 0.65vw;
}
::-webkit-scrollbar-track {
  background-color: rgba(168, 198, 222, 0.6);
  border-radius: 10px;
  box-shadow: inset 4px 4px 7px var(--blue-light-color);
}
::-webkit-scrollbar-thumb {
  background-color: #d4af37;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--yellow-primary-color);
}

/* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
/* ⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡≫ Navigation ≪⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡⬡ */
/* ▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢▣▢ */
.active-link {
  text-shadow: -3px 3px 7px #4d4d00 !important; /* prevent override */
}

.bg-gradient-yellow {
  background-image: var(--gradient-yellow);
}
