Content/images/AlanTuring-optimized-lazy.jpg
Content/images/bg2-com-lazy.jpg
Content/images/bg2-com2-lazy.jpg
Content/images/bg2-com5-lazy.jpg
Content/images/bg2-com6.jpeg
Content/images/bg2-com7.jpeg
Content/images/bg3-1.jpg
Content/images/BillGates1-lazy.jpg
Content/images/favicon-16x16.png
Content/images/favicon-32x32.png
Content/images/logo.png
Content/images/MargaretHamilton-optimized-lazy.jpg
Content/images/matin taherzade logo-02.png
Content/images/matin tire-02.png
Content/images/matin yellow-02.png
Content/images/Matin-Taherzadeh-portrait.jpg
Content/images/matin-tire-02.ico
Content/images/MySkills3Ed.gif
Content/images/MySkills3Ed.webp

.vscode
node_modules
dist