/* Footer Section Styles */

@keyframes shakeFooter {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}

.footerOuter {
  position: relative;
  height: 7.5rem;
  overflow: hidden;
}

.footerShake {
  width: 100%;
  height: 100%;
  animation: shakeFooter 2s ease-in-out infinite;
}

.footerInner {
  position: relative;
  background: var(--color-purple-primary);
  color: white;
  margin: 0 auto;
  width: 95%;
  max-width: 80rem;
  height: 5rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  transform: translateY(6rem);
  transition: transform 0.4s ease-in-out;
  text-align: center;
  padding: 0 0.5rem;
  z-index: 10;
}

.footerOuter:hover .footerInner {
  transform: translateY(1rem);
}

.footerOuter:hover .footerShake {
  animation: none;
}
